<nav class="navbar navbar-expand-sm navbar-light">
  <a class="navbar-brand mb-0 h1" href="/home">
    <img
      src="https://img.icons8.com/external-filled-outline-mangsaabguru-/64/000000/external-fermentation-sourdough-filled-outline-filled-outline-mangsaabguru-.png"
      ;
    />FRISK!
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse justify-content-between"
    id="navbarNavAltMarkup"
  >
    <div class="navbar-nav">
      <a class="nav-item nav-link active" style="color: #74520e"
        ><span class="sr-only"></span
      ></a>
      <a
        class="nav-item nav-link active"
        style="color: #74520e"
        href="/new-entry"
        >New Entry</a
      >
      <a class="nav-item nav-link active" style="color: #74520e" href="/signup"
        >All Entry</a
      >
    </div>
  </div>
  <div
    class="collapse navbar-collapse justify-content-end"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link active"
          aria-current="page"
          style="color: #74520e"
          href="/dashboard"
          >Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #74520e" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<!-- src="https://cdn-icons-png.flaticon.com/512/135/135763.png" -->
