<nav class="navbar navbar-expand-sm navbar-light">
  <a class="navbar-brand mb-0" href="/home">
    <img
      src="https://img.icons8.com/external-filled-outline-mangsaabguru-/64/000000/external-fermentation-sourdough-filled-outline-filled-outline-mangsaabguru-.png"
      ;
    />FRISK!
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse justify-content-end"
    id="navbarSupportedContent"
  >
    <div class="navbar-nav">
      <a class="nav-item nav-link active" style="color: #74520e" href="/login"
        >Login</a
      >
      <a class="nav-item nav-link active" style="color: #74520e" href="/signup"
        >Sign Up</a
      >
    </div>
  </div>
</nav>
<!-- src="https://cdn-icons-png.flaticon.com/512/135/135763.png" -->
