<nav class="navbar navbar-expand-sm navbar-light">
  <a class="navbar-brand mb-0 h1" href="#">
    <img
      src="https://cdn-icons-png.flaticon.com/512/135/135763.png"
      height="50px"
      width="70px"
      ;
    />
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-between"
    id="navbarNavAltMarkup"
  >
    <div class="navbar-nav">
      <a class="nav-item nav-link active" style="color: #74520e" href="#"
        >Home <span class="sr-only"></span
      ></a>
      <a class="nav-item nav-link active" style="color: #74520e" href="/login"
        >Login</a
      >
      <a class="nav-item nav-link active" style="color: #74520e" href="/signup"
        >Sign Up</a
      >
    </div>
  </div>
</nav>
