@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Luckiest+Guy&family=Space+Mono&display=swap");

body {
  background-color: #dfd2be;
  font-family: Arial;
  color: rgb(114, 68, 18);
  padding: 15px;
}

.navbar-brand {
  font-family: "Luckiest Guy", cursive;
  font-size: 50px;
}

h1,
h2 {
  font-family: "Luckiest Guy", cursive;
  font-size: 50px;
}

.main-header-bg {
  background: linear-gradient(
      0deg,
      rgba(25, 25, 25, 0.3),
      rgba(255, 254, 253, 0.3)
    ),
    url("https://cdn.dribbble.com/users/1786581/screenshots/5471645/media/e3fa3b22c7431dd71ddc51597de6e354.gif");
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.8; */
}

.header-bg {
  background: linear-gradient(
      0deg,
      rgba(25, 25, 25, 0.3),
      rgba(255, 254, 253, 0.3)
    ),
    url("https://img.freepik.com/free-photo/flat-lay-healthy-food-arrangement_23-2148516723.jpg?size=626&ext=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.8; */
}

.form-content .form-items {
  padding-top: 50px;
  border: 3px white;
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 40px;
  width: 100%;
  min-width: 540px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
}
.btn-dark:hover {
  color: #b4045f;
}

.btn-dark {
  border-radius: 5px;
  background-color: #53340d;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 18px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn-dark span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-dark span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-dark:hover span {
  padding-right: 25px;
}

.btn-dark:hover span:after {
  opacity: 1;
  right: 0;
}

.form-header-bg {
  margin-top: 20px;
  padding: 50px;
  border-radius: 10%;
  background: linear-gradient(
    10deg,
    rgba(91, 45, 8, 0.3),
    rgba(255, 255, 255, 0.3)
  );
}

.navbar-nav > li {
  padding-left: 20px;
}

/* --------------- All entries bootstrap --------------- */

.table-wrapper {
  background: rgb(233, 227, 215);
  padding: 20px 25px;
  margin: 30px 0;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.table-title {
  padding-bottom: 15px;
  background: #966929;
  color: #fff;
  padding: 16px 30px;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
}
.table-title h3 {
  margin: 5px 0 0;
  font-size: 24px;
}
.table-title .btn-group {
  float: right;
}
.table-title .btn {
  color: #fff;
  float: right;
  font-size: 15px;
  border: none;
  min-width: 50px;
  border-radius: 2px;
  border: none;
  outline: none !important;
  margin-left: 10px;
}
.table-title .btn i {
  float: left;
  font-size: 21px;
  margin-right: 5px;
}
.table-title .btn span {
  float: left;
  margin-top: 2px;
}
table.table tr th,
table.table tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
}
table.table tr th:first-child {
  width: 150px;
}
table.table tr th:last-child {
  width: 200px;
}
table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}
table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}
table.table td:last-child i {
  opacity: 0.9;
  font-size: 22px;
  margin: 0 5px;
}
table.table td a {
  font-weight: bold;
  color: #566787;
  display: inline-block;
  text-decoration: none;
  outline: none !important;
}
table.table td a:hover {
  color: #2196f3;
}
table.table td a.edit {
  color: #ffc107;
}
table.table td a.delete {
  color: #f44336;
}
table.table td i {
  font-size: 19px;
}
table.table .avatar {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}
/* --------------- Homepage bootstrap --------------- */
@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}
header.masthead h1 {
  font-size: 4rem;
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #53340d;
}
